body {
  background-color: #800000;
}

.container {
  max-width: 600px;
  background-color: white;
  margin-top: 80px;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

footer {
  text-align: center;
  margin: 30px;
}
