body {
  background-color: #defde0;
  font-family: "Rosario";
}

.container {
  max-width: 650px;
  background-color: #fcf7de;
  margin-top: 80px;
  padding: 50px 30px 10px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

footer {
  text-align: center;
  margin: 30px;
}

.footer-links {
  margin: 35px 0;
  font-size: 18px;
}

.footer-links a {
  color: #5893b2;
  font-size: 19px;
}

.footer-links a:hover {
  font-weight: bold;
}
