form {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Search-input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 5px solid #fddfdf;
  font-size: 23px;
  background-color: #fcf7de;
}

.Search-btn {
  padding: 20px 0;
  width: 25%;
  background-color: #fddfdf;
  border: none;
  outline: none;
  color: black;
  border-radius: 5px;
  font-size: 25px;
}

.hint {
  margin-bottom: 10px;
}
